<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <!-- Path that will be scanned for the backup files -->
    <add key="sharedBackupsPath" value="\\equisoft.com\Files\Ressources\Usagers\NProvencher" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <!-- Path for the sql scripts to apply after a restore  -->
    <add key="sqlScriptsPath" value="\\equisoft.com\Files\Dev\EquiTasks\SQL Scripts" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <!-- Used by the New Relic Agent to determine what name to show-->
    <add key="NewRelic.AppName" value="Test - Equisoft - Simple Database Restore" />
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <param name="File" value="D:\logs\EquiSoft\SimpleDatabaseRestore\log" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
    </appender>
  </log4net>
</configuration>